/* background-color: #302c2c;  greyish*/
/* div-color : #080404;  blackish*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    /* margin: 0;
    padding: 0; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.world{
    background-color: #302c2c;
    max-width : 100vw;   /*to avoid horizontal scroll bar */
}

.continent-1{
    background-color: #080404;
    max-width : 100vw;
    height: 110vh;
    background-image: url('assests/top-background.jpg');
    background-position: center center;
    
}

.header{
    margin: 0vh 5vw;
    height : 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist{
    margin: 0 6vw;
    list-style-type: none;
    display: flex;
    justify-content: end;
    
}

.navlist > li{
    padding: 0.5rem;
}

.logo{
    filter: invert(21%) sepia(86%) saturate(7474%) hue-rotate(357deg) brightness(95%) contrast(114%);   /*to get red out of black in logo*/
    height: 2.5rem;
    width: 9.25rem;
    margin-right: 40rem;
}

#signin{
    height: 5vh;
    width : 6vw;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 0.5rem;
    

}


#select{
    height: 5vh;
    width : 6vw;
    opacity: 0.5;
    background-color: black;
    color: white;

}

.continent-1-body{
    max-width: 100vw;
    height: 101.111vh;
    display: grid;
    justify-content: center;
}

.quote-email{
    color: white;
    width: auto;
    position: relative;
    top: 20vh;
    
}

.quote-email > h1 {
    font-weight: bolder;
}

.quote-email > h3 {
    margin-left: 9vw;
}

#email{
    background-color: black;
    opacity: 0.5;
    height: 7vh;
    width: 25vw;
    margin-left: 4vw;
    font-size: large;

}


#getstarted{
    background-color: red;
    font-size: large;
    color: white;
    height: 8vh;
    width: 9vw;
    border-radius: 8%;

}

.continent-2{
    background-color:#080404;
    max-width: 100vw;
    height: 86.81922480620155vh;
    position: relative;
    top: 1vh;
    padding:10vh 0% ;
}


.continent-2 > .country{
    background-color:#080404;
    height: inherit;
    position: relative;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
}

.continent-2 .country .text-container {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continent-2 .country .text-container .text span{
    font-size: xx-large;
    font-weight: bolder;
    width: 28vw;
}

.continent-2 .country .text-container .text{
    font-size: large;
    line-height: 5vh;
}

.continent-2 .country .graphic-container{
    position: relative;
    left: 10%;
}

.continent-2 .country .graphic{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "main";
}
.continent-2 .country .graphic img ,.continent-2 .country .graphic video {
    grid-area: main;
}

.continent-2 .country .graphic video{
    z-index: 1;
    position: relative;
    left: 12%;
    top: -1%;

}

.continent-2 .country .graphic img{
    z-index: 2;
}