/* background-color: #302c2c;  greyish*/
/* div-color : #080404;  blackish*/


@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.world{
    background-color: #302c2c;
    max-width : 100vw;
    height: auto;       /*to avoid horizontal scroll bar */
}

.continent-1{
    background-color: #080404;
    max-width : 100vw;
    height: 110vh;
    background-image: url('assests/top-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
    
}

.continent-1 > .blackbox {
    max-width : 100vw;
    height: 110vh;
    background-color: #08040499;
    position: relative;
    top: 0px;
    left: 0px;
}

.header{
    margin: 0vh 5vw;
    max-width: 100vw;
    height : 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    
}

.navlist > li{
    padding: 0.5rem;
}

.logo{
    filter: invert(21%) sepia(86%) saturate(7474%) hue-rotate(357deg) brightness(95%) contrast(114%);   /*to get red out of black in logo*/
    height: 2.5rem;
    width: 9.25rem;
}

#signin{
    height: 5vh;
    width : 6vw;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 1px solid red;

}


#select{
    height: 5vh;
    width : 6vw;
    opacity: 0.5;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.continent-1-body{
    max-width: 100vw;
    height: 95vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.continent-1-body > .text-box{
    color: white;
    position: relative;
    top: 0px;
    display: grid;
    height: 100vh;
    align-content: center;
    justify-items: center;
    /* line-height: 5vh; */
    
}


.continent-1-body .text-box > h1 {
    font-family: "Martel Sans", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 7.5vh;
    text-align: center;
  
}

.continent-1-body .text-box:nth-child(2) {
    font-size: 3.75vh;
    text-align: center;

}

.continent-1-body .text-box:nth-child(3) {
    font-size: 3vh;
    text-align: center;

}




#email{
    /* background-color: black; */
    /* opacity: 0.7; */
    background-color: rgba(23, 23, 23, 0.7);
    height: 7vh;
    width: 25vw;
    font-size: large;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.158);
    border-radius: 7px;
}


#getstarted{
    background-color: red;
    font-size: large;
    color: white;
    height: 8vh;
    width: 12vw;
    border-radius: 7px;
    border: 1px solid red;

}

.continent {
    background-color:#080404;
    max-width: 100vw;
    height: 60vh;
    margin-top: 1vh;
    padding:10vh 0vh ;
    display: grid;
    align-items: center;
}


.continent > .country{
    background-color:#080404;
    height: inherit;
    max-width: 100vw;
    display: flex;
}

.continent .country > .text-box {
    color: white;
    height: inherit;
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 5vh;
}

.continent .country .text-box .text :nth-child(1){
    font-size: 6.5vh;
    font-weight: bolder;
}

.continent .country .text-box .text :nth-child(2){
    font-size: 3vh;
}

.continent .country > .graphic-box {
    color: white;
    height: inherit;
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 5vh;

}

.continent .country .graphic-box >.graphic{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "main";
}

.continent-2 .country .graphic > * { 
    grid-area: main;
}

.continent-2 .country .graphic video{
    z-index: 1;
    position: relative;
    left: 13%;
    top: -2%;
    height: 33vh;
}

.continent-2 .country .graphic img{
    z-index: 2;
    height: 60vh;

}

.continent-3 .country .graphic img{
    height: 65vh;
}



.continent-4 .country .graphic-box .graphic > img{
    z-index: 2;
    grid-area: main;
    height: 65vh;
}

.continent-4 .country .graphic-box .graphic > video{
    z-index: 1;
    grid-area: main;
    margin-top: -22vh;
    margin-left: 7vw;
    height: 32vh;
}


.continent-5 .country  .graphic-box .graphic > img{
    height: 55vh;

}


footer{
    background-color: #080404;
    margin-top: 1vh;
    height: 60vh;
    padding: 5vh 10vw;
}

footer > .grid-box{
    background-color:#080404;
    max-width: 100vw;
    height: inherit;
    display: grid;
    align-items:center;
    font-size: smaller;
}

footer .grid-box .parent-list  .grid-items{
    color: aqua;
    background-color:#080404;
    height: 35vh;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4, 1fr);
    list-style-position: outside;
}


footer .grid-box .parent-list .grid-items > li{
    align-self: center;
    list-style-type: none;
    text-decoration: underline;    
}

footer .grid-box .parent-list > li{
    list-style-type: none;
    color: aqua;
    line-height: 6vh;
}



