/* background-color: #302c2c;  greyish*/
/* div-color : #080404;  blackish*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    /* margin: 0;
    padding: 0; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.world{
    background-color: #302c2c;
    max-width : 100vw;   /*to avoid horizontal scroll bar */
}

.continent-1{
    background-color: #080404;
    max-width : 100vw;
    height: 110vh;
    background-image: url('assests/top-background.jpg');
    background-position: center center;
    
}

.header{
    margin: 0vh 5vw;
    height : 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist{
    margin: 0 6vw;
    list-style-type: none;
    display: flex;
    justify-content: end;
    
}

.navlist > li{
    padding: 0.5rem;
}

.logo{
    filter: invert(21%) sepia(86%) saturate(7474%) hue-rotate(357deg) brightness(95%) contrast(114%);   /*to get red out of black in logo*/
    height: 2.5rem;
    width: 9.25rem;
    margin-right: 40rem;
}

#signin{
    height: 5vh;
    width : 6vw;
    color: white;
    background-color: red;
    font-weight: bold;
    border-radius: 0.5rem;
    

}


#select{
    height: 5vh;
    width : 6vw;
    opacity: 0.5;
    background-color: black;
    color: white;

}

.continent-1-body{
    max-width: 100vw;
    height: 101.111vh;
    display: grid;
    justify-content: center;
}

.quote-email{
    color: white;
    width: auto;
    position: relative;
    top: 20vh;
    
}

.quote-email > h1 {
    font-weight: bolder;
}

.quote-email > h3 {
    margin-left: 9vw;
}

#email{
    background-color: black;
    opacity: 0.5;
    height: 7vh;
    width: 25vw;
    margin-left: 4vw;
    font-size: large;

}


#getstarted{
    background-color: red;
    font-size: large;
    color: white;
    height: 8vh;
    width: 9vw;
    border-radius: 8%;

}

.continent {
    background-color:#080404;
    max-width: 100vw;
    height: 86.81922480620155vh;
    margin-top: 1vh;
    padding:10vh 0vh ;
    display: grid;
    align-items: center;
}


.continent-2 > .country{
    background-color:#080404;
    height: inherit;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
}

.continent-2 .country .text-container {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    text-align: center;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continent-2 .country .text-container .text span{
    font-size: xx-large;
    font-weight: bolder;
    width: 28vw;
}

.continent-2 .country .text-container .text{
    font-size: large;
    line-height: 5vh;
}

.continent-2 .country .graphic-container{
    position: relative;
    left: 10%;
}

.continent-2 .country .graphic{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "main";
}
.continent-2 .country .graphic img ,.continent-2 .country .graphic video {
    grid-area: main;
}

.continent-2 .country .graphic video{
    z-index: 1;
    position: relative;
    left: 12%;
    top: -1%;

}

.continent-2 .country .graphic img{
    z-index: 2;
}

/* .continent-3{
    margin-top: 1vh;
    background-color:#080404;
    height: 500px;
    max-width: 100vw;
    display: grid;
    align-items: center;
    padding: 10vh 0vh;
} */

.continent-3 .country {
    height: inherit;
    max-width: 100vw;
    background-color: #080404;
    display: grid;
    grid-template-areas: "Garea Tarea";
    align-items: center;    
}

.continent-3 .country > .graphic-box{
    background-color:#080404;
    height: inherit;
    grid-area: Garea;
    display: flex;
    justify-content: center;
    align-items: center;

}

.continent-3 .country > .text-box{
    background-color :#080404;
    height: inherit;
    grid-area: Tarea;
    display: flex;
    justify-content: left;
    align-items: center;
}

.continent-3 .country .text-box > .text{
    background-color :#080404;
    height: auto;
    width:auto;
    color: white;
    margin-left: 2vw;

}

.country .text-box .text > .head{
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 2px;
}

.continent-3 .country .text-box .text > pre{
    font-size: large;
    letter-spacing: 1px;
}


.continent-3 .country .graphic-box > .graphic{
    background-color:#080404;
    height: inherit;
    width: auto;
    
}

.continent-3 .country .graphic-box .graphic > img{
    position: relative;
    
}

/* .continent-4{
    height: 500px;
    max-width: 100vw;
    background-color: #080404;
    margin-top: 1vh;
    padding: 10vh 0vh;
} */

.continent-4 > .country{
    background-color:#080404;
    max-width: 100vw;
    height: inherit;
    display: grid;
    grid-template-columns:1fr 1fr ;
}

.continent-4 .country > .text-box{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continent-4 .country > .graphic-box{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continent-4 .country .graphic-box > .graphic{
    margin-right: 4vw;    
    display: grid;
    grid-template-areas: "main";
}

.continent-4 .country .graphic-box .graphic > img{
    z-index: 2;
    grid-area: main;
}

.continent-4 .country .graphic-box .graphic > video{
    z-index: 1;
    grid-area: main;
    margin-top: 6vh;
    margin-left: 8vw;
    height: 35vh;
}


 .country .text-box > .text{
    color: white;
}

.country .text-box .text > span{
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 2px;
}

.country .text-box .text > pre{
    font-size: larger;
    letter-spacing: 1px;
    line-height: 5vh;
    
}

/* .continent-5{
    background-color: #080404;
    height: 500px;
    max-width: 100vw;
    margin-top: 1vh;
    padding: 10vh 0vh;
} */

.continent-5 > .country{
    height: inherit;
    max-width: 100vw;
    display: grid;
    grid-template-areas: "Garea3 Tarea3";
}

.continent-5 .country > .graphic-box{
    grid-area: Garea3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continent-5 .country  .graphic-box .graphic > img{
    height: 60vh;

}

.continent-5 .country > .text-box{
    grid-area: Tarea3;
    width: 50vw;
    margin-right: -20vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer{
    background-color: #080404;
    margin-top: 1vh;
    height: 60vh;
}



